# .gitignore

# Файл с переменными окружения
.env

# Скомпилированные исполняемые файлы
*.exe
*.out
LR4 # или любое другое имя бинарника

# Папка с документацией Swagger (она генерируется автоматически)
docs/
.gitignore