version: '3.8'

services:
  minio:
    image: minio/minio:latest
    container_name: minio_server
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: MINIO_ROOT_USER
      MINIO_ROOT_PASSWORD: MINIO_ROOT_PASSWORD
    volumes:
      - ./minio-data:/data
    command: server /data --console-address ":9001"
    networks:
      - lab-net

  postgres:
    image: postgres:latest
    container_name: postgres_db
    environment:
      POSTGRES_USER: user_workshop
      POSTGRES_PASSWORD: password_workshop
      POSTGRES_DB: workshop_db
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - lab-net

  adminer:
    image: adminer:latest
    ports:
      - "8081:8080" # Adminer будет доступен на порту 8081
    networks:
      - lab-net

networks:
  lab-net:
    driver: bridge

volumes:
  postgres-data:
  minio-data: