<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Страница не найдена</title>
    <link rel="stylesheet" href="/static/styles/globals.css" />
    <link
      rel="icon"
      href="http://localhost:9000/rip/logo1.svg"
      type="image/svg"
    />
  </head>
  <body>
    <div class="page-wrapper">
      <div class="page-inner">
        <header class="page-header">
          <div class="page-header__container">
            <div class="page-header__logo">
              <a href="/shareholders">
                <img
                  class="logo-image"
                  src="http://localhost:9000/rip/logo1.svg"
                  alt="Логотип"
                />
              </a>
            </div>
          </div>
        </header>
        <main class="main-content">
          <h1>404</h1>
          <p>К сожалению, страница, которую вы ищете, не существует.</p>
          <a href="/shareholders" class="back-to-home-btn"
            >Вернуться на главную</a
          >
        </main>
      </div>
    </div>
  </body>
</html>
